In [1]:
class DataScience:
    pass

In [2]:
student1 = DataScience()
student2 = DataScience()

In [3]:
print(id(student1))
print(id(student1))

2762118155984
2762118155984

In [4]:
class DataScience:
    #class variabke
    school = "School of Data Science" #attrubute

Below, we create two instance of student class, and we print the value of school.

In [6]:
student1 = DataScience()
student2 = DataScience()
print(student1.school)
print(student2.school)

School of Data Science
School of Data Science

Let's now look at example of instance variables.  
Instamce variables are normally defined inside the __init__ method.  
  
Let's first understand what methods are. Basically, 'method' in oop are functions defined within a calss. Just like normal function, they normally take in some input in the form of argument, do the proessing.

### Constructor
it call by itself.

In [17]:
class DataScience:
    #constructor __init__
    def __init__ (self, name, level):
        # instance variable
        self.name = name
        self.level = level
        
    # __str__ method
    def __str__(self):
        return '{} studies in {} level'.format(self.name,self.level)
    
    #regular method
    def level_up(self):
        self.level +=1

Now we instabtuate twi instances of the ckass.

In [18]:
student1 = DataScience("Anusha",1)
student2 = DataScience("Serenity",2)

In [19]:
# print(student1.name)
# print(student1.level)
# print(student2.name)
# print(student2.level)
print(student1)
print(student2)

Anusha studies in 1 level
Serenity studies in 2 level

Now, we call the level_up() method on the instance on student1, it will increase the level by 1.

In [20]:
#invoking method
student1.level_up()
print(student1)

Anusha studies in 2 level

In [27]:
import math
# Rectangle class
class Rectangle:
    def __init__(self, color, filled, width, length): #constructor
        self.__color = color
        self.__filled = filled
        self.__width = width
        self.__length= length
        
    #method
    def get_color(self):
        return self.__color
    def set_color(self, color):
        self.__color = color
    def is_filled(self):
        return self.__filled
    def get_area(self):
        return self.__width * self.__length

#circle class
class Circle:
    def __init__(self, color, filled, radius):
        self.color = color
        self.filled = filled
        self.radius = radius
    #method
    def get_color(self):
        return self.__color
    def set_color(self, color):
        self.__color = color
    def is_filled(self):
        return self.__filled
    def get_area(self):
        return math.pi * self.radius ** 2

<__main__.Rectangle object at 0x000002831B471F50>

### Inheritance

In [3]:
class A:
    def explore(self):
        print("explore() method from class A")
class B(A):
    def explore(self):
        print("explore() method from class B")
        
b_obj = B() #instance of class B
a_obj = A() #instance of class A

b_obj.explore()
a_obj.explore()

explore() method from class B
explore() method from class A

In [5]:
class A:
    def explore(self):
        print("explore() method from class A")
class B(A):
    def explore(self):
        super().explore()
        print("explore() method from class B")
        
b_obj = B() #instance of class B
a_obj = A() #instance of class A

b_obj.explore()
a_obj.explore()

explore() method from class A
explore() method from class B
explore() method from class A

## Comprehension  
There are 3 types of in python.  
- List Comprehension 
- Set ccomprehension
- Dictionary Comprehension

### List comprehension

The syntax for list comprehension is as follows:  
[expression for item in itereable]

In [8]:
# example of list comprehension
squares_list = [i*i for i in range(1,10)] #square of numbers from 1 to 9
squares_even_list = [j*j for j in range(1,20) if j%2 == 0] # square of even numbers from 1 to 19
square_odd_list = [x*x for x in range(1,20) if x%2!=0] #squares of odd numbers from 1 to 19
print(squares_list)
print(squares_even_list)
print(square_odd_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[4, 16, 36, 64, 100, 144, 196, 256, 324]
[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

### List comprehension with if-else

Syntax:  
[expression if conditional else expression2 for item in iterable]

In [9]:
#square a number if it is even; leave it alone if it is odd
lst = [i*i if i % 2 == 0 else i for i in range(10)]
lst

[0, 1, 4, 3, 16, 5, 36, 7, 64, 9]

In [10]:
#square a number if it is odd
odd_list = [i*i if i %2 != 0 else i for i in range(10)]
odd_list

[0, 1, 2, 9, 4, 25, 6, 49, 8, 81]

#### Multiple if condition in list comprehension

In [11]:
lst = []
for i in range(20):
    if i%2 ==0:
        if i%3 == 0:
            lst.append(i)
print(lst)

[0, 6, 12, 18]

We can do same task with just one line of code using list comprehension, as shown below:

In [12]:
lst = [i for i in range(20) if i%2==0 if i%3 ==0]
lst

[0, 6, 12, 18]

### Call a method on each element using list comprehension

In [13]:
#using capitaliza() to capitalize first letter of word
lst = [name.capitalize() for name in ['STEVE','KaRa',"SAIF"]]
lst

['Steve', 'Kara', 'Saif']

In [14]:
#using lower() to make first letter of word small
lst = [name.lower() for name in ['STEVE','KaRa','SAIF']]
lst

['steve', 'kara', 'saif']

In [15]:
#using upper() to make all letter in capital
lst = [name.upper() for name in ['STEVE','KaRa','SAIF']]
lst

['STEVE', 'KARA', 'SAIF']

### Set comprehension

Set comprehension is very much like the List Comprehension, with exception using {} brackets instead of square brackets []. As set do not allows duplicates.

In [17]:
#example to come up with a set of pythagorean Triplets

pythagorean_triplests = {(x,y,z) for x in range(1,20) for y in range(1,20) for z in range(1,20) if (x**2 + y**2 == z**2) }
pythagorean_triplests

{(3, 4, 5),
 (4, 3, 5),
 (5, 12, 13),
 (6, 8, 10),
 (8, 6, 10),
 (8, 15, 17),
 (9, 12, 15),
 (12, 5, 13),
 (12, 9, 15),
 (15, 8, 17)}

### DIctionary Comprehension

In [19]:
# dict of numbers from 1 to 5 and their corresponding sqaure roots
square_roots_dict = {num: num**0.5 for num in range(1,6)} #range (1,6)=>[1,2,3,4,5]
square_roots_dict

{1: 1.0,
 2: 1.4142135623730951,
 3: 1.7320508075688772,
 4: 2.0,
 5: 2.23606797749979}

In [22]:
# square of 10 number in dictionary
square_dict = {num: num*2 for num in range(1,11)}
square_dict

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}

#### Example 
Suppose, you want to provide 10% discount for items whose amount is more than $10. We can use dictionary comprehension to get the results in following ways.

In [25]:
bill = {"Apple":12, "Orange":6, "Mango":5, "Kiwi":20}
discount_bill = {k:(v*0.9 if v>10 else v) for k,v in bill.items()} #where k = key and v is value and discounding value by 10% for greater than $10
discount_bill

{'Apple': 10.8, 'Orange': 6, 'Mango': 5, 'Kiwi': 18.0}

# Iterators
Iterators in python are object that can be iterated upon.  
  
There is function called "iter()".

In [27]:
lst = ["hello","how","are","you"] # lst is an iteratble
# build an  iterator (my_iterator) using iter() function
my_iterator = iter(lst) #Equivalent to lst.__iter__()
#my_iterator = lst.__iter__()

print(next(my_iterator))
print(next(my_iterator))
print(next(my_iterator))
print(next(my_iterator))
print(my_iterator)

hello
how
are
you
<list_iterator object at 0x000001CD97586470>

In [28]:
print(next(my_iterator))

StopIteration:

return : returns value and terminates the function
yeild : Pauses the function saving all its states ad continues on from there on subsequent calls. Does not terminated the function

In [29]:
# generator function defination
def my_gen():
    yield 2
    yield 3
    yield 4

In [30]:
# creating generator obj
my_gen_obj = my_gen()

In [31]:
print(type(my_gen_obj)) # checking type

<class 'generator'>

In [32]:
print(next(my_gen_obj)) #o/p 2
print(next(my_gen_obj)) #o/p 3
print(next(my_gen_obj)) #o/p 4

2
3
4

Lets see how we can use genrator to reverse the string

In [35]:
def rev_str(input_str):
    length = len(input_str) # get the length of the string
    for i in range(length-1, -1 -1):
        yield input_str[i]
for i in rev_str("generator"):
    print(i)