In [1]:
#example of variable
x= 2
y = "Mindriser"

In [2]:
print(x)

2

In [3]:
print(y)

Mindriser

In [4]:
name = "Anusha"

In [5]:
print(name)

Anusha

In [6]:
7name = "Anusha"

SyntaxError: invalid decimal literal (1226516467.py, line 1)

In [9]:
name = "Anusha"
Name = "Madan"
print(name)
print(Name)

Anusha
Madan

## python data type

Text = str   
example : "anusha" inside quotes  
Numerica = int, float, complex  
Sequence = list "[]" , tuple "()", range  
Mapping= dict {}  
Set = set" {}", frozenset  
Boolean = bool

In [22]:
# different data types
name = "Anusha" # str data type
age = 23 #int
height = 5.3 # float
book = ["Game of Thrones", " The Alchemist"] #list
countries = {"Nepal", "India", "Bangladesh"} #tuple
x= range(5) #range
my_info = {name: "Anusha", age: "23"}
is_okay = True
print (my_info)
print(hello)

{'Anusha': 'Anusha', 23: '23'}
True

In [21]:
print(type(my_info))
print(type(book))
print(type(is_okay))

<class 'dict'>
<class 'list'>
<class 'bool'>

### Type Casting
Changing from one date type to another data type. For example: float data type of 2.5 to integer data type -> a= int(2.5) o/p will be 2.

### Exercise 2.2

In [24]:
#Write code below to create a variable of type int
a= 10
print(a)
print(type(a))

10
<class 'int'>

In [25]:
#write code below to convert above int variable to float
b = float(a)
print(b)
print(type(b))

10.0
<class 'float'>

In [26]:
# write code below to convert the int variable to str
c = str(a)
print(c)
print(type(c))

10
<class 'str'>

### Python operator

### logical operator  
Logical AND  
Logical OR  
Logical NOT

In [1]:
#assigning variable
a=2
b=3

In [2]:
a>2 and b>2

False

In [3]:
a>2 or b>2

True

In [4]:
not a>2

True

### Precedence of logical operator
1.NOT  
2.AND  
3.OR

In [5]:
False or False and True and not True

False

### Identity operator
Operator that identify the operator. 'is'

In [6]:
x= 3

In [7]:
type(x) is int

True

In [8]:
type(x) is float

False

In [9]:
type(x) is str

False

### Membership operator
Operator that shows association. 'in'

In [13]:
"a" in "AnushA"

False

### Python list
List is element that store collection of different entity of data types. But for fast processing, we use same data types.

In [14]:
my_book_list = ["The Alchemist", "The Kite Runner", "Eleven Minute", "Games of throne"]

<class 'list'>

In [15]:
print(type(my_book_list))

<class 'list'>

In [21]:
len(my_book_list)

4

## Access list type
We can access list from two ways:
- Positive indexing : It give data from list from ascending order
- Negative indexing  ;

In [17]:
#concept for indexing
print(my_book_list[0])

The Alchemist

In [20]:
print(my_book_list[3])

Games of throne

In [22]:
#negatuve indexing
print(my_book_list[-3])

The Kite Runner

### Range in list
It provide range of data from the list

In [24]:
list_of_book = my_book_list[1:3]
print(list_of_book)

['The Kite Runner', 'Eleven Minute']

In [27]:
list_of_book = my_book_list[1:-2]
print(list_of_book)

['The Kite Runner']

In [29]:
my_book_list[:3] # return up to 3 data in list from frist data

['The Alchemist', 'The Kite Runner', 'Eleven Minute']

In [37]:
my_book_list[1:] #return book list from index 1 to last

['The Kite Runner', 'Harry Potter', 'Games of throne']

In [32]:
'The Kite Runner' in my_book_list

True

In [33]:
'Harry Potter' in my_book_list

False

### Replacing the value in list
Value of list can be change by assigning new value in the index number of list. In python, new value always replace old value.

In [34]:
my_book_list[2] = 'Harry Potter' # replace 3rd element with new one

In [35]:
print(my_book_list)

['The Alchemist', 'The Kite Runner', 'Harry Potter', 'Games of throne']

In [38]:
my_book_list[3:4] = ["The Witcher", "Friends"]
print(my_book_list)
len(my_book_list)

['The Alchemist', 'The Kite Runner', 'Harry Potter', 'The Witcher', 'Friends']

5

In [47]:
my_book_list[1:3] = ["Scavenger Hunt"] # replace the index 1 element and delete second one as it won't find index 2
my_book_list
len(my_book_list)

5

### Insert Item
Item is inserted at desired position

In [46]:
my_list = [1,2,3]
my_list.insert(1,5)
my_list

[1, 5, 2, 3]

### Append
Item is added at the end of list.

In [50]:
my_list.append(7)
my_list

[1, 5, 2, 3, 7, 7]

### Extend
It extend the list element and append at end.

In [53]:
my_list = ["one","two","three"]
my_list.extend("two")
my_list

['one', 'two', 'three', 't', 'w', 'o']

## Remove items

### Remove item at a specified index

Wwe use pop() method to remove an item at a specified index.

In [3]:
my_list = [1,2,3]
my_list.pop(1)

my_list

[1, 3]

### Clearning the list
We can use clear list using clear()

In [4]:
my_list=[1,2,3]
my_list.clear()
my_list

[]

### Sort List
We can use sort() for sorting the data.

In [5]:
my_list=['a', 'i', 'c', 'z','h']
my_list.sort()
my_list

['a', 'c', 'h', 'i', 'z']

In [6]:
my_list=[1,5,7,8]
my_list.sort()
my_list

[1, 5, 7, 8]

In [8]:
#as sort() function sort data in ascending order so, caps letter come first and small letter
my_list=['a', 'i', 'A', 'z','B']
my_list.sort()
my_list

['A', 'B', 'a', 'i', 'z']

### Reverse Order
We can use reverse() method to reverse the order of item in list.

In [11]:
my_list= [1,2,3,4]
my_list.reverse()
my_list

[4, 3, 2, 1]

### Make a copy of a list
We can use copy() method to make a copy of a list.

In [12]:
my_list= [1,2,3]
copy_list = my_list.copy()
copy_list

[1, 2, 3]

### Join lists
You can also join two list by siply using + operator.

In [17]:
list1 = [1,2]
list2 = ["a","b"]
list3 = list1+list2+list1
list3

[1, 2, 'a', 'b', 1, 2]

In [16]:
list1 = [1,2]
list2 = ["a","b"]
list1.extend(list2)
list1

[1, 2, 'a', 'b']

## Python Conditions

### if statement
If we want some python code to one if some condition is true, we use if keyword.

In [18]:
#if <some condition>
#    code

In [22]:
#example of if condition
x= 7
if x>5 :
    print("x is greater than 5")

x is greater than 5

When condition of if meet, then it return print if condition is false, it give nothing but code will run.  
To deal with this we use "else" i.e. else condition

### else statement

In [25]:
#example of if condition
x= 7
if x>9 :
    print("x is greater")
else:
    print("x is smaller")

x is smaller

### elif statement
when one condition fail, we use different condition for that we use elif i.e else if condition. We use "elif" keyword.

In [29]:
#Example of elif conditition
# x = int(input()) # take input from user
x = 16
if x>=18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

You are not eligible to vote.

### Short-hand if
You can put if code block in one line

In [30]:
x=3
if x>1: print("X is greater")

X is greater

### Short-hand if-else

In [31]:
x=3
print("X is greater") if x>4 else print('x is smaller')

x is smaller

### Nested if
You can put if condition inside another if condition using nested if.

In [32]:
x = 35
if x>10:
    print("x is greater than 10")
    if x < 30:
        print("but it is less than 30")
    else: 
        print("and it is greater than 30 as well")

x is greater than 10
and it is greater than 30 as well

### Python Loop
Loop is used when we run code until condition become true.  
There are two type of loop.  
- for
- while

### while loop
In a while loop, the loop run as long as contition become true.

In [1]:
x= 0
while x<5:
    print(x)
    x+=1

0
1
2
3
4

### break statement
The break statement breaks the loop and stop the execution and exist loop

In [4]:
x = 0
while x < 10:
    print(x)
    x+=1
    if x ==4:
        break #once if condition meet, break statement break loop and exist the loop

0
1
2
3

### continue statement
The continue statement stop the current loop iterate and continues with the new iteration

In [6]:
x = 0
while x < 10:
    x+=1
    if x ==4:
        continue 
    print(x)

1
2
3
5
6
7
8
9
10

### for loop
The for loop is something you will be using a lot. It can iterate over a sequence(list, tuple, set, dict, string)

In [7]:
#iterate over a list
my_list = ["one","two","three"]
for num in my_list:
    print(num)

one
two
three

In [8]:
#iterate over a string
for i in "anusha":
    print(i)

a
n
u
s
h
a

We can use break and while statement in for loop as well.

### The range() function
The  range() function returns a sequence of number starting with 0(by default) and increment by 1 (by default) up to the number less than one of number provided

In [9]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [11]:
for i in range(2, 6):
    print(i)

2
3
4
5

In [12]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

Here last digit from range is the number of time loop break and continue after that number of elements.

### Nested loop
We can put loop inside loop.

In [13]:
colors = ['red','blue']
objects= ['chair', 'table', 'house']
for i in colors:
    for j in objects:
        print(i,j)

red chair
red table
red house
blue chair
blue table
blue house

In [18]:
#to print table of 1 to 5
for i in range(1,6):
    print("Table of", i)
    for j in range(1,11):
        print(i,"*",j, "=",i*j)

Table of 1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
Table of 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
Table of 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
Table of 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
Table of 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50